.demo {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #fff;
  color: #095960; /* Primary color */
}

.demo h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
