.footer {
  background: #095960;
  color: #ffffff;
  padding:2rem 1.2rem;
  position: relative;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  align-items: center;
  gap: 2.5rem;
}


.footer-left p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.footer-logo {
  width: 250px;
  margin-bottom: 0.8rem;
}

.footer-email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-email:hover {
  color: #fd355c;
}



.footer-socials {
  display: flex;
  justify-content: flex-end; 
  gap: 1.2rem;
}

.footer-socials a {
  color: #ffffff;
  font-size:1.4rem;
  transition: 0.3s ease;
}

.footer-socials a:hover {
  color: #fd355c;
  transform: translateY(-3px);
}



.footer-right {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  opacity: 0.95;
}



@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-right {
    margin-top: 1.2rem;
  }
}
