.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0); /* شفاف */
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #095960; /* Primary */
}

.nav-btn {
  background-color: #3992a0; /* Secondary */
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-btn:hover {
  background-color: #fd355c; /* Pink hover */
}
