@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');



.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  background: rgba(9, 89, 96, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
}



.logo img {
  height: 52px;
  width: auto;
  display: block;
}


.nav-btn {
  background-color: #3992a0;
  color: white;
  padding: 0.8rem 2rem; 
  font-size: 1rem;
  font-weight: 600;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.nav-btn:hover {
  background-color: #fd355c;
  transform: translateY(-2px);
}



@media (max-width: 768px) {
  .navbar {
    padding: 1rem 1.5rem;
  }

  .logo img {
    height: 40px;
  }

  .nav-btn {
    padding: 0.6rem 1.5rem;
    font-size: 0.95rem;
  }
}
